<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/secret.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Secret Wall</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" >
        <span class="navbar-brand">Dojo Secrets</span>
        <form  class="form-inline">
            <a href="/topsecret" class="btn btn-outline-info my-2 my-sm-0">Most popular Secrets</a>
            <a href="/logout" class="btn btn-outline-success my-2 my-sm-0">logout</a> 
        </form>
    </nav>
    <div id="container">
        <h1>Hello!  @ViewBag.user.first_name</h1>
         <div id="top">
            <form action="/CreatSecret" method="POST">
            <textarea name="secret" placeholder="Your secret Here...."></textarea>
            <button type="submit" class="btn btn-success">Post</button>
            </form>
        </div>
        <div id="secret">
            @foreach(var info in @ViewBag.allSecret){
                DateTime now = DateTime.Now;
                TimeSpan diff = @now - @info.created_at;
                <div class="msg">
                <p>@info.secret</p> 
                @if(@diff.Hours == 0){
                <span>@Math.Floor(@diff.Minutes) Minutes ago</span> 
                }else{
                    <span>@diff.Hours hours , @diff.Minutes Minutes ago</span> 
                }
                <span>@info.like.Count likes</span>
                </div>
                @if(info.usersid == @ViewBag.user.id){
                    <form action="/delete" method="POST">
                        <input type="hidden" value=@info.id>
                        <button type="submit">Delete</button>
                    </form>
                }else{
                    bool like = false;
                    @foreach(var likes in @info.like){
                        if(likes.usersid == @ViewBag.user.id){
                            like = true;
                            <p><b>You liked this post!</b></p>
                        }
                    }
                    @if(like == false){
                        <form action="/like" method="POST">
                        <input type="hidden" name="secretid" value=@info.id>
                        <button type="submit">Like</button>
                        </form>
                    }                 
                    
                }
                
            }               
                
        </div>

    </div>
</body>
</html>