<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/topsecret.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Top secret</title>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" >
        <span class="navbar-brand">Dojo Secrets</span>
        <form  class="form-inline">
            <a href="/SecretsWall" class="btn btn-outline-success my-2 my-sm-0">Dashboard</a>
            <a href="/logout" class="btn btn-outline-success my-2 my-sm-0">logout</a> 
        </form>
    </nav>
    <h1>Most Popular Secrets!!...</h1>
    <div id="container">
        @foreach(var info in @ViewBag.topsecret){
            <div class="msg">
            <p>@info.secret</p> 
            <span>@info.like.Count likes</span> 
            <span>(@info.created_at.ToString("MMMM dd, yyyy, hh:mm tt"))</span>
            </div>
            if(info.usersid == @ViewBag.id){
                    <form action="/delete" method="POST">
                        <input type="hidden" value=@info.id>
                        <button type="submit">Delete</button>
                    </form>
                }else{
                    bool like = false;
                    @foreach(var likes in @info.like){
                        if(likes.usersid == @ViewBag.id){
                            like = true;
                            <p><b>You liked this post!</b></p>
                        }
                    }
                    @if(like == false){
                        <form action="/like" method="POST">
                        <input type="hidden" name="secretid" value=@info.id>
                        <button type="submit">Like</button>
                        </form>
                    }                 
                }
        }
    </div>
</body>
</html>